node_modules
npm-debug.log
.tern-project
data-*.json
logs.txt
/node_modules/*
/dist/index.bundle.js*
/dist/vendor.bundle.js*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
