.forum {
    position: relative;
    width: 100%;
    font: bold 1rem "Microsoft JhengHei";
}


.forum .board {
    height: 90rem;
    width: 100%;
    background: #fff url('images/dog-bg.jpg') no-repeat center;
    background-size: cover;
}

.forum .board.fg {
    position: relative;
    z-index: 1;
}

.forum .board.bg {
    position: relative;
    z-index: -1;
}

.forum .post.fg {
    height: 90rem;
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
}

.forum .post.bg {
    position: absolute;
    height: 0;
    width: 0;
    z-index: -1;
    left: 0;
    top: 0;
}

.forum .navbar {
    width: 20rem;
    font-size: 1.3rem;
    opacity: 0.9;
}

.forum .form {
    position: relative;
    z-index: 1;
    width: 40rem;
    height: 20rem;
    opacity: 0.9;
}

.forum .list {
    position: relative;
    z-index: 0;
    width: 40rem;
    height: 66rem;
    overflow: auto;
    opacity: 0.9;
}

@media (max-width: 768px) {
    .forum {
    }

    .forum .board {
        height: 45rem;
    }

    .forum .post.fg {
        height: 45rem;
    }

    .forum .navbar {
        width: 10rem;
        font-size: 0.5rem;
    }

    .forum .form {
        width: 12rem;
        height: 14rem;
    }

    .forum .list {
        width: 12rem;
        height: 23rem;
    }
}
