.forum-form {
    height: 100%;
    font-size: 1.5rem;
}

.forum-form .title {
    height: 6rem;
}

.forum-form .body {
    height: 10rem;
}

.forum-form .body-text {
    height: 8rem;
}

.forum-form .barker {
    margin: 1.25rem, 0, 0, 0.75rem;
}

.forum-form .dropdown, .forum-form #btn-bark {
    cursor: pointer;
    font: bold 1rem "Microsoft JhengHei";
    margin-left: 0;
}

.forum-form #btn-bark {
    margin-top: -1.25rem;
}

.forum-form .dropdown-item:hover {
    color: hotpink;
}

.forum-form .dog {
    width: 6rem;
    height: 4.5rem;
}


@media (max-width: 768px){
    .forum-form {
        font-size: 0.8rem;
    }

    .forum-form.d-flex {
        flex-direction: column;
    }

    .forum-form .left {
        margin: 0;
        padding: 0;
    }

    .forum-form .right {
        position: relative;
        margin: 0;
        padding: 0;
    }

    .forum-form .title {
        height: 2rem;
        width: 10rem;
        margin: 0;
        padding: 0;
    }

    .forum-form .title-text {
        height: 1.5rem;
        font-size: 0.4rem;
    }

    .forum-form .body {
        height: 2rem;
        width: 10rem;
        margin: 1rem 0 0 0;
        padding: 0;
    }

    .forum-form .body-text {
        height: 4rem;
        font-size: 0.4rem;
    }

    .forum-form .right.col {
        flex-direction: row;
    }

    .forum-form .barker {
        position: absolute;
        width: 2rem;
        height: 1.5rem;
        margin: 1.5rem 0 0 0 !important;
    }


    .forum-form .dropdown {
        position: absolute;
        left: 1rem;
        margin: 0 0 0 0 !important;
    }

    .forum-form .button {
        position: absolute;
        left: 3rem;
        top: 0;
        margin: 0 0 0 0 !important;
    }

    .forum-form #btn-bark {
        position: absolute;
        left: 3rem;
        top: 0;
        height: 2rem;
        width: 4rem;
        font-size: 1rem;
    }
}
